.modal {
    position: absolute;
    top: 22%;
    left: 25%;
    height: 250px;
    background-color: rgba(240, 248, 255, 0.9);
    border-radius: 10px;
    color: tomato;
    font-size: 20px;
    font-weight: 900;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal__button {
    color: aliceblue;
    background-color: tomato;
    border: none;
    cursor: pointer;
    
}